<div class="jumbotron col-md-8 col-md-offset-2">
  <h1>Tasting Notes</h1>
  <p>
    Keep track of the wine that you drink.
  </p>
  <p>
    <%= link_to 'Sign up', sign_up_path, class: "btn btn-default btn-lg btn-sign-up" %>
    or
    <%= link_to 'Sign in', sign_in_path, class: "btn btn-default btn-lg btn-sign-in" %>
  </p> 
</div>