<div class="jumbotron">
  <h1>Tasting Notes</h1>
  <p>
    Keep track of the wines that you drink.
  </p>
  <p>
    <%= link_to 'Sign up', sign_up_path, class: "btn btn-lg btn-primary" %>
    or
    <%= link_to 'Sign in', sign_in_path, class: "btn btn-lg btn-info" %>
  </p> 

</div>