/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "rails_bootstrap_forms";
 @import url(//fonts.googleapis.com/css?family=Dancing+Script);
 @import url(//fonts.googleapis.com/css?family=Montserrat);

 .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline, .checkbox-row {
  padding-top: 0px;
 }

 @font-face {
  font-family: "Flaticon";
  src: font-url("flaticon.eot");
  src: font-url("flaticon.eot#iefix") format("embedded-opentype"),
  font-url("flaticon.woff") format("woff"),
  font-url("flaticon.ttf") format("truetype"),
  font-url("flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 56px;
font-style: normal;
margin-left: 5px;
margin-right: 10px;
}

.flaticon-glass-Red:before {
  content: "\e002";
}
.flaticon-glass-Rose:before {
  content: "\e002";
}
.flaticon-glass-Sparkling:before {
  content: "\e003";
}
.flaticon-glass-White:before {
  content: "\e004";
}

 .tasting-note-panel {
  margin-bottom: -10px;
 }

 .tasting-note-category-label {
  font-weight: bold;
 }

 .well {
  font-family: 'Montserrat', sans-serif;
 }

 .navbar-default {
  font-size: 16px;
 }

 .navbar-default .navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 32px;
  color: #91294C;
 }

 body {
  background-color: #909AA4;
  font-family: 'Montserrat', sans-serif;
 }

 .front-container {
  background: image-url('red-wine-background-computer-and-mobile.jpg') no-repeat center center fixed;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
 }

 .front-container .jumbotron {
  top: 40px;
 }

 .front-container .jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  color: #91294C;
 }

 .btn-sign-up { 
  color: #ffffff; 
  background-color: #000000; 
  border-color: #000000; 
} 
 
.btn-sign-up:hover, 
  .btn-sign-up:focus, 
  .btn-sign-up:active, 
  .btn-sign-up.active, 
  .open .dropdown-toggle.btn-sign-up { 
    color: #ffffff; 
    background-color: #A4B0BA; 
    border-color: #A4B0BA; 
} 
  
.btn-sign-up .badge { 
  color: #000000; 
  background-color: #ffffff; 
}
 
.btn-sign-in { 
  color: #000000; 
  background-color: #c7ced6; 
  border-color: #c7ced6;
} 
 
.btn-sign-in:hover, 
.btn-sign-in:focus, 
.btn-sign-in:active, 
.btn-sign-in.active, 
.open .dropdown-toggle.btn-sign-in { 
  color: #FFFFFF; 
  background-color: #A4B0BA; 
  border-color: #A4B0BA;
} 
 
 .sign-in-sign-up-panel {
  margin-top: 80px;
 }

 .sign-in-sign-up-panel .panel-heading {
  font-size: 20px;
 }

 .glass-color-Red {
  color: #800000;
 }

 .glass-color-White {
  color: #FFCC00;
 }

 .glass-color-Rose {
  color: #FF70B8;
 }

 .glass-color-Sparkling {
  color: #FFD494;
 }

 .tasting-note-panel .panel-color-Red {
  color: #800000;
 }

 .tasting-note-panel .panel-color-White {
  color: #FFCC00;
 }

 .tasting-note-panel .panel-color-Rose {
  color: #FF70B8;
 }

 .tasting-note-panel .panel-color-Sparkling {
  color: #FFCC00;
 }

 footer {
  position: fixed;
  bottom: 0;
  left: 5px;
 }


